---
import BaseLayout from "@layouts/BaseLayout.astro";
import "lightgallery/css/lightgallery.css";
import "lightgallery/css/lg-thumbnail.css";
import "lightgallery/css/lg-zoom.css";
import "@styles/markdown.css";

const img_host = "https://drive.liuxs.pro/api/raw/?path=/Photos/";
const Photos = [
  {
    name: "日落 @2024.09.28",
    img: "IMG_20240928_184904-min.jpg",
    img_width: 4096,
    img_height: 3072,
  },
  {
    name: "云龙山",
    img: "IMG_20230902_105546-min.jpg",
    img_width: 4096,
    img_height: 3072,
  },
  {
    name: "舟山",
    img: "IMG_20200829_093025-01.jpeg",
    img_width: 4096,
    img_height: 3072,
  },
];
---

<BaseLayout page_title="Liuxs' Blog">
  <h3>Moments</h3>
  <div
    class="flex align-items-center justify-content-center gap-2 flex-wrap"
    id="gallery-container"
  >
    {
      Photos.map((p) => (
        <a
          class="w-1/4 "
          data-lg-size={`${p.img_width}-${p.img_height}`}
          data-src={img_host + p.img}
          data-sub-html={`<h4>${p.name}</h4>`}
        >
          <img
            class="bordered rounded-md shadow-md"
            src={img_host + p.img}
            alt={p.name}
            title={p.name}
            loading="lazy"
          />
          <p class="text-center text-xs">{p.name}</p>
        </a>
      ))
    }
  </div>
</BaseLayout>

<script>
  // https://www.lightgalleryjs.com/docs/getting-started/
  import lightGallery from "lightgallery";
  import lgZoom from "lightgallery/plugins/zoom";
  import lgThumbnail from "lightgallery/plugins/thumbnail";
  lightGallery(document.getElementById("gallery-container") as HTMLElement, {
    plugins: [lgZoom, lgThumbnail],
    speed: 500,
    download: false,
  });
</script>

<style>
  .gallery-container > a {
    max-width: 200px;
    max-height: 150px;
    padding: 5px;
    disply: inline-block;
  }
</style>
